<main class="container">
	<div class="columns">

		<div class="column">		
			<div id="refineBar">
				<div id="searchRefineContainer">
					<label for="searchRefine"><img src="images/search-icon.png" alt="search-icon"> Search by restaurant name</label>
					{{input type="text" id="searchRefine" value=searchRefine}}
				</div>
				
				<div id="refineToggleContainer" class="is-pulled-right">
					{{#if filterPanelDisplay}}
						<label for="refineToggle">Hide refine</label>
					{{else}}
						<label for="refineToggle">Show refine</label>
					{{/if}}
					<button {{action "toggleFilterPanel"}} id="refineToggle" class="is-pulled-right"></button>
				</div>
			</div>
			
			<div id="panel" class="panel {{if filterPanelDisplay 'panel-active'}}">
				<h5 class="panel-heading">Filters</h5>
				
				{{#each restaurants as |restaurant|}}
					<label class="panel-block" for="{{restaurant.type}}">
						<input type="checkbox" 
							id="{{restaurant.type}}" 
							name="{{restaurant.type}}" 
							value="{{restaurant.type}}" 
							{{action "filter" restaurant.type on="change"}} >
					    {{restaurant.type}}
					</label>
				{{/each}}
			</div>
		</div>

		<div class="column is-three-quarters">
			{{#each filteredRestaurants as |restaurant|}}
				<section class="section restaurantListItem">
					<article class="container">
						{{#restaurant-card restaurant=restaurant}}
						{{/restaurant-card}}
					</article>
				</section>	
			{{/each}}	
		</div>

	</div>
</main>
{{yield}}
